.auth-buttons {
    display: flex;
    gap: 10px;
    margin: 20px;
}

.auth-button {
    background-color: #4CAF50;
    /* 녹색 */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.auth-button:hover {
    background-color: #45a049;
    /* hover시 살짝 진한 녹색 */
}

.auth-button:active {
    background-color: #3e8e41;
    /* 클릭할 때 더 진하게 */
}

.navbar {
    background-color: rgb(249, 179, 47);
}

.nav-button {
    color: #4639ff;
}